<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>New Users</title>
  <meta name="User Index Page" content="User_Index">
  <meta name="user" content="">
  <link rel="/stylesheets/users.scss">
</head>

<body>
  <h1>LETS CREATE YOUR TEAM</h1>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
     prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <%= form_for (@user) do |f| %>
      <%= f.label :name, "what's your name:" %>
      <%= f.text_field :name, placeholder: 'enter name' %><br> 

      <% Pokemon.all.each do |pokemon| %>
        <%= link_to (image_tag pokemon.img), pokemon_path(pokemon) %>
      <% end %>

      <label for="user_pokemon"> Select your pokemon: </label>
      <%= collection_select(:user, :pokemon_ids, Pokemon.all, :id, :name) %>
      
      <p><%= f.submit "Lets Start Playing"%></p>
  <% end %>
</body>
</html>