
<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
</div>

<% end %>

<h3>User's name: <%= @user.name %></h3>
<h3>User's Pokemon: 
    <% @user.pokemons.each do |pokemon|%>
        <%= pokemon.name %><br>
        <%= link_to (image_tag pokemon.img), pokemon_path(pokemon) %>
    <%end%>
</h3>
<%= link_to 'READY TO BATTLE?', '/battles/new', id: 'battle' %>
<%= session[:id]%>
