<<<<<<< HEAD
<% @battle.user.teams.each do |team|%>
<p><%= team.user.name%></p>
<p><%= team.pokemon.name%></p>
<p> HP: <%=team.hp%></p>
<% end%>

<% @battle.npc.packs.each do |pack|%>
<p><%=pack.npc.name%></p>
<p><%=pack.pokemon.name%></p>
<p>HP: <%=pack.hp%></p>
<%end%>
<%= link_to "attack", "/battles/#{@battle.id}/attack", method: :patch%>
=======
<% @battle.user.teams.each do |team| %>
trainer: <%= team.user.name %>
<%= team.pokemon.name %><br>
<%= team.hp %><br><br>
<% end %>

<% @battle.npc.packs.each do |pack| %>
    enemy: <%= pack.npc.name %>
    <%= pack.pokemon.name %>
    <%= pack.hp %>
<% end %>

<%= link_to "attack", "/battles/#{@battle.id}/attack", method: :patch %>
>>>>>>> master
