<h1>This is show page for POKEMON</h1>
<%= image_tag @pokemon.img %><br>
<p>NAME: <%= @pokemon.name %><p>
<p>HP: <%= @pokemon.hp %><p>
<p>ATTACK: <%= @pokemon.att %><p>
<%= link_to  "BACK TO POKEMON PAGE", pokemons_path %><br>

<% if session[:id] %>
    <%= link_to  "BACK TO USERS PAGE", user_path(session[:id]) %>
<%end%>