<!DOCTYPE html>
<html>
  <head>
    <title>Monster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  
  <body>
    
    <div class="nav">
        <video autoplay muted loop id="myVideo">
            <source src="https://media.giphy.com/media/ORDZ7BedOnUuZJsEqf/giphy.mp4" type="video/mp4">
        </video>
      <div id="session_logic_generated">
        
        <% if !session[:id] %>
          <% if !current_page?('/') %>
            <%= link_to 'goto login', root_path, id: "root_log_in_link"%>
         
          <%end%>
          <%= link_to "create user", new_user_path, id: "root_create_user_link"%>
        <%end%>
      </div>

      <% if session[:id] %>
          <%= link_to  "logout", logout_path, method: 'post', id: 'logout_link' %>
          <%= link_to "home", user_path(session[:id]), id: 'send_session_user_home_link' %>
      <%end%>
      <%= yield %>
      
    </div> <!-- end of nav -->
  </body>
</html>
