<!DOCTYPE html>
<html>
  <head>
    <title>Monster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <% if !session[:id]%>
        <% if !current_page?('/')%>
          <%= link_to 'goto login', root_path%>
        <%end%>
         <%= link_to "new user", new_user_path%>
      <%end%>
      <% if session[:id] %>
          <%= link_to  "logout", logout_path, method: 'post', id: 'logout_link' %>
          <%= link_to "home", user_path(session[:id]), id: 'send_session_user_home_link' %>
      <%end%>
    </div>
      <%= yield %>
  </body>
</html>
